# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=file:./db.sqlite

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3010

# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
SKIP_ENV_VALIDATION=
CURRENT_DOMAIN=localhost:3010
ALLOW_ROBOTS=true
NEXT_PUBLIC_LINK_PREFETCH_ENABLED=


DISABLE_CUSTOM_500=true
PREVIEW_LAYER0_DEVTOOLS_ENABLED=false

BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# leave blank unless you want to globally prefix all page titles - used for debugging in prod
NEXT_PUBLIC_PAGE_TITLE_PREFIX="dev | "

NEXT_PUBLIC_FEATURE_FLAG_SHOW_MY_ACCOUNT=true

# when false, the BFF will be proxied through <current_domain>/graphql
DISABLE_BFF_PROXY=false
# use this when DISABLE_BFF_PROXY is true
#NEXT_PUBLIC_BFF_URL=http://127.0.0.1:4000/graphql
# use this when DISABLE_BFF_PROXY is false
NEXT_PUBLIC_BFF_URL=
NEXT_PUBLIC_PROXY_BFF_URL=

# when false, caching is enabled. This has no effect though, unless you also run the app via npm run dev:cached
DISABLE_CACHING=

NEXT_PUBLIC_GMAPS_API_KEY=

NEXT_PUBLIC_GTM_AUTH=
NEXT_PUBLIC_GTM_PREVIEW=
NEXT_PUBLIC_GTM_CONTAINER=
NEXT_PUBLIC_OT_DOMAIN=
#NEXT_PUBLIC_LINK_PREFETCH_ENABLED=true
NEXT_PUBLIC_DYNATRACE=

NEXT_PUBLIC_POWER_REVIEWS_API_KEY=
NEXT_PUBLIC_POWER_REVIEWS_MERCHANT_ID=
NEXT_PUBLIC_POWER_REVIEWS_MERCHANT_GROUP_ID=

NEXT_PUBLIC_CHAT_URL=

CURRENT_DOMAIN=localhost:3010
ALLOW_ROBOTS=true
